@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
#intro{
    min-height: 100vh;
    background-image: url(background.png);
    background-color: #3b56a6;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}
.button-13 {
  background-color: rgba(255, 255, 255, 0.432);
  border: 1px solid #d5d9d9;
  border-radius: 10px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat",sans-serif;
  font-size: 100%;
  padding: 1.5%;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
.button-13:hover {
  background-color: #f7fafa;
  text-decoration: none;
}
#intro h1{
    font-size: 230%;
    padding-top:  15%;
    padding-bottom: 2%;
}
#intro_text{
    font-size: 120%;
    padding-right: 2%;
    padding-bottom: 3%;
}
.white_text{
    font-family: 'Gemunu Libre', sans-serif;
    padding: 4% 1% 4% 1%;
    font-family: 'Mulish', sans-serif;
    font-size: 120%;
}
.white_text h2{
    font-size: 400%;
}
#experience{
    background-image: url(experience.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    background-color: #723f98;
}
.colour_head{
    text-align: center;
    padding: 2% 0% 1% 0%;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 400%;
}
#exp_text{
    padding: 0% 10% 0% 10%;
}
.binner{
    color: rgb(0, 0, 0);
    padding: 3% 3% 2% 3%;
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3%;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.459);
    box-shadow: 5px 10px rgba(0, 0, 0, 0.288);
}
#skills{
    background-color: #16c2cb;
    background-image: url(skills.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}
.skillico{
    width: 100%;
}
#minorskills{
    align-items: center;
    margin: 0% 5% 0% 5%;
}
.smallcont{
    display: inline-block;
    margin: 1%;
    padding: 2%;
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.459);
    box-shadow: 5px 10px rgba(0, 0, 0, 0.432);
}
#projects{
    text-align: center;
}
.project{
    margin-top: 2%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.075);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.432);
}
.project h1{
    padding: 3% 0% 3% 0%;
}
.imgproject{
    width: 100%;
    padding-bottom: 5%;
}
.projecttext{
    font-size: 100%;
    text-align:justify;
}
/*
    Previous commit was failed
    adding this line to try again
*/